@model List<src.Models.CartModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    double i = 0;
}

<div class="card" style="width: 18rem;">
    <div class="card-header">
        Your Shopping Block
        <a href="#" class="card-link"><button type="button" onclick="window.location.href='../'" class="btn btn-secondary">Return</button></a>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var product in Model)
        {
            <li class="list-group-item">@product.Name  |  @product.Price <i style="float: right;">@product.Amount</i></li>
            i = i + product.Price;
        }
    </ul>
    <div class="alert alert-success" role="alert" style="margin-bottom: 0;">Total sum: @i</div>
    @using (Html.BeginForm("checkout", "Shop", FormMethod.Post))
    {
        @Html.Hidden("Price", i)
        <input type="submit" class="btn btn-info" value="CheckOut" />
    }
</div>
